<a href="https://colab.research.google.com/github/tewei0328/python-colab/blob/master/colab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第一章 Colab

<img height="60px" src="/img/colab_favicon.ico" align="left" hspace="20px" vspace="5px">

## 欢迎使用 Colaboratory！

Colaboratory 
是免費的Jupyter筆記本環境，不需要進行任何設置就可以使用，並且完全在雲端運行。

## 使用入門
- [Colaboratory 概览](/notebooks/basic_features_overview.ipynb)
- [加载和保存数据：本地文件、云端硬盘、表格、Google Cloud Storage](/notebooks/io.ipynb)
- [导入库和安装依赖项](/notebooks/snippets/importing_libraries.ipynb)
- [使用 Google Cloud BigQuery](/notebooks/bigquery.ipynb)
- [表单](/notebooks/forms.ipynb)、[图表](/notebooks/charts.ipynb)、[Markdown](/notebooks/markdown_guide.ipynb) 以及[微件](/notebooks/widgets.ipynb)
- [支持 GPU 的 TensorFlow](/notebooks/gpu.ipynb)
- [机器学习速成课程](https://developers.google.com/machine-learning/crash-course/)：[Pandas 简介](/notebooks/mlcc/intro_to_pandas.ipynb)以及[使用 TensorFlow 的起始步骤](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv("./sample_data/california_housing_train.csv")

In [0]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

![Google's logo](https://www.google.com/images/logos/google_logo_41.png)

![替代文字](http://despair1116.pixnet.net/album/photo/186957250-2823.png [链接文字](https://))

![替代文字](https://drive.google.com/uc?id=0B7ktfXOBejEGb2NWV285aDl6RDA)

![替代文字](https://photos.app.goo.gl/UAi65gLXLvzRLr1s9)