<a href="https://colab.research.google.com/github/tewei0328/python-colab/blob/master/colab1(use_as_word).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第一章 Colab

<img height="60px" src="/img/colab_favicon.ico" align="left" hspace="20px" vspace="5px">

## 歡迎使用 Colaboratory！

Colaboratory 
是免費的Jupyter筆記本環境，不需要進行任何設置就可以使用，並且完全在雲端運行。

## 使用入門

- [表单](/notebooks/forms.ipynb)、[图表](/notebooks/charts.ipynb)、[Markdown](/notebooks/markdown_guide.ipynb) 以及[微件](/notebooks/widgets.ipynb)
- [使用 Google Cloud BigQuery](/notebooks/bigquery.ipynb)
- [机器学习速成课程](https://developers.google.com/machine-learning/crash-course/)：[Pandas 简介](/notebooks/mlcc/intro_to_pandas.ipynb)以及[使用 TensorFlow 的起始步骤](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)

![Google's logo](https://www.google.com/images/logos/google_logo_41.png)

# 貼照片


*   一般帳戶之google drive上存放的照片才可(G Suite不可)
*   jpg, png均可
*   open要改成uc
*   到wikimedia找不用下載的線上照片
*   用html的img 

![替代文字](https://drive.google.com/uc?id=11FiE84wLhAcwMh6OYSScF0PLKtEQEmBX)

![替代文字](https://drive.google.com/uc?id=0B7ktfXOBejEGb2NWV285aDl6RDA)

![替代文字](https://upload.wikimedia.org/wikipedia/commons/d/d9/Larry_Ellison_on_stage.jpg)

<img height="60px" src="/img/colab_favicon.ico" align="left" hspace="20px" vspace="5px">

<img height="200px" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Larry_Ellison_on_stage.jpg" align="left" hspace="20px" vspace="5px">

# 新段落

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv("./sample_data/california_housing_train.csv")

In [0]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]